Button {
    -fx-background-size: auto 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-weight: 900;
    -fx-text-fill: black;
      
}

.btBack {
    -fx-background-image: url("/img/buttons/btBack.png");
}

.bt {
    -fx-background-image: url("/img/buttons/btMenu.png");
    -fx-font-size: 30;
}

